.simply-countdown{display:table;margin:auto;font-family:'Arial',sans-serif; box-sizing: unset;}
.simply-countdown>.simply-section{width:90px;height:90px;padding:40px;display:flex;align-items:center;justify-content:center;float:left;margin:15px;background:var(--blue);font-family: 'Montez'; border-radius: 50%;color: white;font-weight: 500; font-size: 30px;}

.simply-countdown>.simply-section .simply-amount,.simply-countdown>.simply-section .simply-word{display:block;text-align:center; }

.simply-countdown>.simply-section .simply-amount{
    font-size: 3rem;
    
}


.simply-countdown>.simply-section{
    /* box-shadow: var(--shadow); */
}
